.signin-container {
  display: flex;
  width: 100vw;
  max-width: 400px;
  height: 400px;
  margin: 10px auto;
}

.signin-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.signin-text {
  font-size: 0.8rem;
  color: var(--primary-color);
  align-self: flex-start;
  padding: 15px 0;
  text-decoration: underline;
}

.signin-text:hover {
  text-decoration: none;
  cursor: pointer;
}

.signin-btn {
  width: 100px;
  border: 1px solid var(--light-green);
  border-radius: 30px;
  background-color: var(--light-green);
  text-align: center;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  align-self: flex-end;
  box-shadow: 5px 5px 5px #c5cebe;
  cursor: pointer;
  transition: all 400ms;
}

.signin-btn:hover {
  transform: scale(0.95);
  transition: all 400ms;
}
