.menu {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
}

@media screen and (min-width: 950px) {
  .menu-item-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
