.cart-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100vw;
  background-color: var(--dark-coffee);
  z-index: 1000;
}

.cart-message {
  width: 300px;
  font-size: 1rem;
  color: var(--white);
}
.cart-bag-content {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart-bag-count {
  position: absolute;
  color: white;
  padding: 15px 0 0 0;
  font-size: 1rem;
}

.cart-bag-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 5px;
  transition: all 0.4s linear;
}

.cart-bag-icon.active {
  transform: scale(1.2);
  transition: all 0.4s ease-in;
}

.cart-details {
  position: fixed;
  bottom: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: max-content;
  width: 100vw;
  background-color: var(--grey);
  z-index: 1000;
  transition: all 0.5s ease-in;
}

.cart-details.hide {
  bottom: -100%;
  transition: all 0.5s ease-in;
}

.cart-detail-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cart-detail-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
.cart-detail-item-text {
  font-size: 0.8rem;
  color: var(--black);
  padding: 5px;
  margin: 5px;
}

.cart-detail-item-btn {
  cursor: pointer;
  color: var(--error-color);
  text-align: right;
}

.cart-detail-total-price {
  font-size: 1.1rem;
  color: var(--black);
  padding: 5px;
  margin: 10px;
}
