.main-menu-title {
  font-size: 1.4rem;
  color: var(--primary-color);
  padding: 10px;
}

@keyframes moveIn {
  from {
    right: -250px;
  }
  to {
    right: 0px;
  }
}

@keyframes moveOut {
  from {
    right: 0px;
  }
  to {
    right: -250px;
  }
}

.main-menu.open {
  width: 250px;
  height: 100vh;
  display: block;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 100;
  /* background-color: var(--white); */
  animation: moveIn 0.5s ease-in;
}

.main-menu.hide {
  width: 250px;
  height: 100vh;
  display: block;
  position: absolute;
  top: 70px;
  right: -250px;
  z-index: 100;
  animation: moveOut 0.5s ease-in;
}

.main-menu li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black);
  padding: 10px;
}

.main-menu li:hover {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
  padding: 10px;
}

